<html lang="ko">
{% include 'head.html' %}
<template>
    <div v-if="loaded">
        <h2 class="text-3xl text-red-600 font-bold mb-2">🔥 {{ data.score }}%</h2>
        <p class="text-lg font-medium">{{ data.comment }}</p>
    </div>
</template>

<script setup>
    import { ref, onMounted } from 'vue'
    import axios from 'axios'

    const data = ref({})
    const loaded = ref(false)

    onMounted(async () => {
        const res = await axios.get('/api/summ/score') // api 호출
        data.value = res.data
        loaded.value = true
    })
</script>