<html lang="ko">
{% include 'head.html' %}
<head>
   <link rel="stylesheet" href="/static/upload.css" />
</head>
<body>
<div id="summ-upload">
    <h1>❤️ AI가 당신의 썸을 감지했습니다 ❤️</h1>
    <textarea id="textInput" rows="6" placeholder="대화 입력 또는 이미지 드래그" @input="onInput"></textarea>
    <div id="dropArea"  @click="triggerFile" @dragover.prevent @drop="onDrop">
        <input type="file" id="imageInput" name="file" hidden @change="onFileChange" />
        <button type="button">파일 업로드</button>
    </div>
    <img id="preview" />
    <button class="submit" @click="submit">분석 제출</button>
    <button class="ml-3 btn" @click="goToChat">모의대화하기</button>
    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <p>분석 중입니다...</p>
    </div>
</div>

<script type="module">
    import { createApp, ref, onMounted } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    // getCookei 추가
    function getCookie(name) {
    const match = document.cookie.match(
      new RegExp('(?:^|; )' + name.replace(/([.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + '=([^;]*)')
    );
    return match ? decodeURIComponent(match[1]) : null;
  }
    createApp({
        setup() {
            const text = ref('')
            const file = ref(null)
            const previewUrl = ref('')
            const triggerFile = () => {
                document.getElementById('imageInput').click()
            }
            const onInput = (e) => {
                text.value = e.target.value
            }
            const onFileChange = (e) => {
                const f = e.target.files[0]
                if (f) handleImage(f)
            }
            const onDrop = (e) => {
                e.preventDefault()
                const f = e.dataTransfer.files[0]
                if (f) handleImage(f)
            }
            const handleImage = (f) => {
                file.value = f
                const preview = document.getElementById('preview')
                previewUrl.value = URL.createObjectURL(f)
                preview.src = previewUrl.value
            }
            const goToChat = async () =>{
                {#TODO 모의대화하기  (지금있는 사람과) 로 연결 필요#}
            }
            const submit = async () => {
                if (!text.value.trim() && !file.value) {
                    alert('내용을 입력하거나 이미지를 업로드하세요.')
                    return
                }
                const form = new FormData()
                if (text.value) form.append('text', text.value)
                if (file.value) form.append('file', file.value)
                const loadingEl = document.getElementById('loading')
                loadingEl.classList.remove('hidden')

                try {
                    var statusRes =  null;
                    const res = await axios.post('/api/v1/analysis', form)
                    console.log("res::::", res)
                    const intervalId = setInterval(async () => {
                        try {
                            const statusRes = await axios.get('/api/v1/analysis/status');
                            console.log("isComplete::::", statusRes.data);
                            if (statusRes.data.status === "completed") {
                                loadingEl.classList.add('hidden')
                                clearInterval(intervalId);
                                window.location.href = '/api/v1/analysis/score';
                            }else {
                                console.log("processing")
                                loadingEl.classList.remove('hidden')
                            }
                        } catch (err) {
                            console.error('상태 확인 중 오류', err);
                            clearInterval(intervalId);
                            loadingEl.classList.add('hidden')
                        }
                    }, 1000);

                } catch {
                    alert('업로드 실패')
                } finally {
                    loadingEl.classList.add('hidden')
                }
            }
            return {
                triggerFile,
                onInput,
                onFileChange,
                onDrop,
                submit,
                goToChat
            }
        }
    }).mount('#summ-upload')
</script>
</body>
</html>